@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Faça uma publicação:</h1>
</div>

<div class="form-floating mb-3">
    <input type="Título" class="form-control" id="floatingInput" placeholder="Abcdefg">
    <label for="floatingInput">Título da publicação</label>
</div>

<div class="form-floating">
    <textarea class="form-control" placeholder="Coloque o conteudo da sua publicação." id="floatingTextarea2" style="height: 200px"></textarea>
    <label for="floatingTextarea2">Descrição</label>
</div>

<select class="form-select" aria-label="Selecione a categoria.">
    <option selected>Selecione a categoria.</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
</select>