@{
    ViewData["Title"] = "Categorias";
}

<div class="text-center">
    <h1 class="display-4">Selecione por categorias:</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Inteligencia Artificial</h5>
        <p class="card-text">As principais notícias sobre IA's.</p>
        <a href="#" class="btn btn-primary">Vamos lá.</a>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Hardware</h5>
        <p class="card-text">As principais notícias sobre hardware.</p>
        <a href="#" class="btn btn-primary">Vamos lá.</a>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Redes</h5>
        <p class="card-text">As principais notícias sobre redes.</p>
        <a href="#" class="btn btn-primary">Vamos lá.</a>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">C#</h5>
        <p class="card-text">As principais notícias sobre a linguagem C#.</p>
        <a href="#" class="btn btn-primary">Vamos lá.</a>
    </div>
</div>
